@charset "utf-8";

.autoplay-slider{
  display: flex;
  min-width: 100%;
  width: min-content;
  animation: 5s linear infinite sliderAnimation;
}

.slide{
  height: 200px;
  width: 400px;
  background: #3486eb;
  border: 1px solid #000;
  margin: 20px;
  position: relative;
} 

@keyframes sliderAnimation {
  100% {
    transform: translateX(-50%);
  }
}
