@charset "utf-8";

/* このCSSの書き方は、セオリーじゃない気がする */

/* リセットCSS的ななにか */
body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  color: #333;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 15px;
  line-height: 2;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

/* 大枠の横幅を設定 */
.content {
  width: 1080px;
}

/* 要素をタイル状に並べる */
.main {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 90px;
}

.item-one {
  width: 280px;
  height: 130px;
  margin: 10px;
  background-color: lightblue;
}

/* botton01 フローリング操作ボタン */
.button01 p {
  text-align: center;
}

/* 円の部分 */
#fab {
  display: block;
  width: 56px;/*幅*/
  height: 56px;/*高さ*/
  background: #03a9f4;/*背景色*/
  text-align: center;/*中央寄せ*/
  border-radius: 50%;/*角丸く*/
  transition: .3s;/*滑らかな動きに*/
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
  margin: 0 auto;
}

/* ホバー時 */
#fab:hover {
box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

/* 中央のアイコン */
#fab i {
color: white;
line-height: 56px;/*＝幅と高さ*/
font-size: 18px;/*サイズ*/
}
